In [1]:
import pandas as pd
from sklearn import tree

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
df=pd.read_csv('/content/gdrive/MyDrive/Dataset/male female.csv')
df.head()

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male

In [4]:
x = df.iloc[:,:-1]

In [5]:
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [6]:
y = df.iloc[:,3]

In [7]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [8]:
classify_ = tree.DecisionTreeClassifier()

In [9]:
classify_ = classify_.fit(x,y)

In [11]:
prediction_ = classify_.predict([[190,70,43]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [12]:
prediction_

array(['female'], dtype=object)

In [13]:
prediction_ = classify_.predict([[200,79,44]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [14]:
prediction_

array(['male'], dtype=object)